<div class="max-w-md shadow bg-teal-900">
    <div class="p-5">
        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Quick medical help
        </h5>
        <div class="flex justify-center p-6">
            <i class="fa-solid fa-user-doctor text-slate-50 text-[80px] justify-self-center"></i>
        </div>

        <p class="mb-3 font-normal text-gray-700 pl-6 dark:text-gray-400">Lorem ipsum dolor sit amet,consectetur
            adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. </p>
        <div class="pl-6">
            <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:pl-6 duration-200">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="max-w-sm bg-teal-950">
    <div class="p-5">
        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Contact health
            providers
        </h5>

        <div class="flex justify-center p-6">
            <i class="fa-solid fa-address-book text-slate-50 text-[80px] justify-self-center"></i>
        </div>

        <p class="mb-3 font-normal text-gray-700 pl-6 dark:text-gray-400">Lorem ipsum dolor sit amet,consectetur
            adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. </p>
        <div class="pl-6">
            <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-950 rounded-lg hover:pl-6 duration-200">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="max-w-sm shadow bg-teal-900">
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Self management
            </h5>
        </a>
        <div class="flex justify-center p-6">
            <i class="fa-solid fa-folder-tree text-slate-50 text-[80px] justify-self-center"></i>
        </div>

        <p class="mb-3 font-normal text-gray-700 pl-6 dark:text-gray-400">Lorem ipsum dolor sit amet,consectetur
            adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. </p>
        <div class="pl-6">
            <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-900 rounded-lg hover:pl-6 duration-200">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="max-w-sm bg-teal-950">
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Medical
                guidance
            </h5>
        </a>
        <div class="flex justify-center p-6">
            <i class="fa-solid fa-book-medical text-slate-50 text-[80px] justify-self-center"></i>
        </div>

        <p class="mb-3 font-normal text-gray-700 pl-6 dark:text-gray-400">Lorem ipsum dolor sit amet,consectetur
            adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Curabitur eu elementum est, non imperdiet dolor. </p>
        <div class="pl-6">
            <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-950 rounded-lg hover:pl-6 duration-200">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</div>