<nav class="container-fluid shadow-sm">
    <div class="mx-auto max-w-9xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <b><span class="text-2xl text-gray-800 mr-2 cursor-default">AppointMD</span></b>
                    <img class="h-12 w-auto"
                        src="https://cdn.discordapp.com/attachments/1225148957244653618/1252625296281178224/AppointMD_logo.png?ex=6672e5b7&is=66719437&hm=8dbae59956706367500c2b10b4b14a9e52c307d7b82d47441784bfde39e6402d&"
                        alt="AppointMD">
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- <a href="#"
                            class="rounded-md px-3 my-6 py-3 text-sm font-medium ease-in duration-200 text-gray-600 hover:bg-gray-700 hover:text-white">Agenda</a>
                        <a href="#"
                            class="rounded-md px-3 my-6 py-3 text-sm font-medium ease-in duration-200  text-gray-600 hover:bg-gray-700 hover:text-white">Your
                            profile</a> -->
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- <a href="#"
                    class="rounded-md mx-3 px-3 my-6 py-3 text-sm font-medium ease-in duration-200 text-gray-600 hover:bg-gray-700 hover:text-white">Your
                    profile</a> -->
                <button
                    class="bg-slate-50 border border-teal-900 rounded-sm hover:bg-teal-950 hover:text-white duration-200 my-6 p-2 px-8">Login</button>
            </div>
        </div>
    </div>
</nav>